
/* Tip: Use "@import" to add styles instead of adding <link>'s in your
   HTML, and volo will inline it when building for production */

/* Styles for the installation button */
@import "install-button.css";
/* Styles from FirefoxOS building blocks */
@import "button.css";
@import "headers.css";
@import "input_areas.css";
/* Styles from FirefoxOS */
@import "fonts.css";

/* Your styles here */

body {
  padding: 10px;
  max-width: 320px;
  margin:auto;
  font-family: 'MozTTLight', Verdana, sans-serif;
}

.info, input[type="text"] {
    font:1rem/4rem "MozTT", Sans-serif;
}

.info {
  -moz-box-sizing: border-box;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 4rem;
  resize: none;
  padding: 0 0.8rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.3rem;
  box-shadow: none; /* override the box-shadow from the system (performance issue) */
  background: #fff url(input_areas/images/ui/shadow.png) repeat-x;
}

.infoTitle {
  font-weight: bold;
}