
/* Tip: Use "@import" to add styles instead of adding <link>'s in your
   HTML, and volo will inline it when building for production */

/* Styles for the installation button */
@import "install-button.css";
/* Styles from FirefoxOS building blocks */
@import "button.css";
@import "headers.css";
@import "input_areas.css";
@import "lists.css";
/* Styles from FirefoxOS */
@import "fonts.css";

/* Your styles here */

body {
  padding: 10px;
  max-width: 320px;
  margin:auto;
  font-family: 'MozTTLight', Verdana, sans-serif;
}

section[role="region"] > header:first-child {
  background: url(../img/ui/header.png) repeat-x 0 0;
  height: 3.2rem;
}
section[role="region"] > header:first-child h1 {
  font: 1.3rem/3.2rem "MozTT", Sans-serif;
  height: auto;
}
section[role="region"] > header:first-child .icon {
  height: 3.2rem;
}
section[role="region"] > header:first-child .icon.icon-send {
  background-image: url(../img/icons/send.png);
}
section[role="region"] > header:first-child menu[type="toolbar"] a {
    text-align:right;
    padding-right:1rem;
}
button,
a[role="button"] {
    background: #fafafa url(../img/ui/default.png) repeat-x left bottom;
    margin-top: 15px;
}

.info, input[type="text"] {
    font:1.2rem/4rem "MozTT", Sans-serif;
    margin-top: 10px;
    background: #fff url(../img/ui/shadow.png) repeat-x;
}  

.info, #result {
/*
  -moz-box-sizing: border-box;
  display: block;
  display:none;
  overflow: hidden;
  width: 100%;
  height: 4rem;
  resize: none;
  padding: 0 0.8rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.3rem;
  box-shadow: none;  override the box-shadow from the system (performance issue) 
  background: #fff url(../img/ui/shadow.png) repeat-x;
*/
}

.infoTitle, .infoValue  {
    width:40%;
    margin-left:5%;
    float:left;
}

.infoTitle {
  font-weight: bold;
}